[submodule "docs/source/_themes"]
	path = docs/source/_themes
	url = https://github.com/mitsuhiko/flask-sphinx-themes.git
[submodule "docs/source/_themes2"]
	path = docs/source/_themes2
	url = https://github.com/kennethreitz/kr-sphinx-themes.git
[submodule "docs/source/_themes3"]
	path = docs/source/_themes3
	url = git@github.com:polinom/kr-sphinx-themes.git
