<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="Login">
		<setting id="username" type="text" label="2000" default="" />
		<setting id="password" type="text" option="hidden" label="2001" enable="!eq(-1,)" default="" />
	</category>
	<category label="Debug">
		<setting id="debug" type="bool" label="2002" default="true" />
	</category>
</settings>
